---
import FeaturedImage from '@/libs/FeaturedImage';
import Header1 from '@/libs/headers/Header1';
import Header2 from '@/libs/headers/Header2';
import Paragraph from '@/libs/headers/Paragraph.astro';
import PrimaryButton from '@/libs/buttons/PrimaryButton';
---

<section class="mt-32">
  <Header1 title="ABOUT" titleJa="このイベントについて" className="mb-16" />

  <div class="flex flex-col md:flex-row">
    <FeaturedImage imageSrc="" />

    <div class="w-full md:w-1/2 px-10 md:px-16 mt-20 md:mt-10 flex flex-col items-center">
      <Header2 title="初めてでも楽しめるバーチャルDJイベント" className="mb-10" />
      <Paragraph>
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
        ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
      </Paragraph>

      <PrimaryButton
        label="参加する"
        href="#"
        className="mt-10"
      />
    </div>
  </div>
</section>
