---
import FeaturedImage from '@/libs/FeaturedImage';
import SectionBody from '@/libs/SectionBody';
import PrimaryButton from '@/libs/buttons/PrimaryButton';
import Header1 from '@/libs/headers/Header1';
import Header2 from '@/libs/headers/Header2';
import Paragraph from '@/libs/headers/Paragraph';

import type { Image } from '@/libs/stores/init';

type Props = {
  featuredImage: Image;
};

const { featuredImage } = Astro.props;
const kofiUrl = import.meta.env.PUBLIC_KOFI_URL;
---

<section class="mt-96 md:mt-72" id="contribute">
  <Header1 title="CONTRIBUTE" titleJa="ご支援" className="mb-16" right small client:load />

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <FeaturedImage image={featuredImage} />
    </div>

    <div class="mt-20 md:mt-10 w-full md:w-1/2">
      <SectionBody client:load>
        <Header2 title="ご支援のお願い" className="mb-10" />

        <Paragraph className="mb-8 w-full">
          「バーチャルケモナイト」は皆様のご支援によって成り立っています。
          最高の音楽体験と空間を提供するために、会場設営や広報活動など様々な費用がかかっております。
        </Paragraph>

        <Paragraph className="mb-8 w-full">
          より多くの方にバーチャルケモナイトの魅力を知っていただき、共に素晴らしい夜を作り上げるために、
          どうぞお力添えをいただけますと幸いです。いただいたご支援は、イベントの企画運営に
          大切に使わせていただきます。
        </Paragraph>

        <div class="mt-8 p-4 w-full border-2 border-primary">
          <h3 class="mb-1 font-bold">支援してくださった方への特典</h3>
          <ul class="list-disc list-inside">
            <li>当サイトとイベント会場にてご芳名を掲載</li>
          </ul>

          <h3 class="mt-4 mb-1 font-bold">3,500円以上 支援してくださった方への特典</h3>
          <ul class="list-disc list-inside">
            <li>イベント会場への優先入場権</li>
          </ul>
        </div>

        <PrimaryButton
          label="Ko-fi で&#8203;支援する"
          href={kofiUrl}
          className="mt-16"
          newTab
        />
      </SectionBody>
    </div>
  </div>
</section>
