---
import PrimaryButton from '@/libs/buttons/PrimaryButton';
import Header1 from '@/libs/headers/Header1';
import Header2 from '@/libs/headers/Header2';
import Paragraph from '@/libs/headers/Paragraph';
---

<section class="mt-96 md:mt-72" id="contact">
  <Header1 title="CONTACT" titleJa="お問い合わせ" className="mb-16" right client:load />

  <div class="px-10 md:px-16 flex flex-col items-center">
    <Header2 title="公式 X の DM にてお問い合わせください。" className="mb-8 text-center" />

    <PrimaryButton
      label="公式Xに移動する"
      href="#"
    />

    <Paragraph className="mt-4">
      内容を確認し、担当者より返信いたします。
    </Paragraph>
    </div>
  </div>
</section>
