---
import OrganizerIntroductions from '@/libs/OrganizerIntroduction';
import StaffIntroductions from '@/libs/StaffIntroduction';
import Header1 from '@/libs/headers/Header1';

import type { Person } from '@/libs/stores/people';

type Props = {
  organizers: Person[];
  staffs: Person[];
};

const { organizers, staffs } = Astro.props;
---

<section class="mt-96 md:mt-72" id="staffs">
  <Header1 title="STAFFS" titleJa="スタッフ" className="mb-16" client:load />

  <OrganizerIntroductions organizers={organizers} client:load />

  <StaffIntroductions staffs={staffs} client:load />
</section>
