---
import FeaturedImage from '@/libs/FeaturedImage';
import Header1 from '@/libs/headers/Header1';
import Header2 from '@/libs/headers/Header2';
import Paragraph from '@/libs/headers/Paragraph';
import PrimaryButton from '@/libs/buttons/PrimaryButton';
import Wave from '@/libs/Wave.astro';
---

<section class="mt-96 md:mt-72" id="timeschedule">
  <div class="-mb-1 w-full text-secondary-background">
    <Wave />
  </div>

  <div class="py-48 md:py-32 bg-secondary-background">
    <Header1 title="TIME<br>SCHEDULE" titleJa="タイムスケジュール" className="mb-16" small />

    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/2 px-10 md:px-16 mb-20 md:mb-10 flex flex-col items-center">
        ほげ
      </div>

      <FeaturedImage imageSrc="" />
    </div>
  </div>

  <div class="-mt-1 w-full text-secondary-background rotate-180">
    <Wave />
  </div>
</section>
