---
import Wave from './Wave.astro';
---

<div class="pb-10">
  <h1 class="text-4xl font-display">HELLO</h1>
  こんにちは世界
</div>

<!-- <div class="w-full wave-mask">
  <img src="concrete.webp" alt="コンクリートテクスチャ" class="w-full h-full object-cover" />
</div> -->

<img src="hero-mask.svg" alt="コンクリートテクスチャ" class="w-full h-full object-cover" />

<style>
  .wave-mask {
    mask-image: url('/hero-mask.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
  }
</style>




<!-- <div class="w-full text-white rotate-180">
  <Wave />
</div> -->
